* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F6F5FA;
    --container-width: 1200px;
    --container-padding: 15px;
    --text-dark: rgba(0, 0, 0, 0.7);
    --text-grey: rgba(21, 20, 57, 0.4);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: var(--text-dark);
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}


/*    buttons   */
.btn {
    display: inline-block;
    padding: 8px 30px;
    text-align: center;
    align-items: center;
    border-radius: 100px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    color: #fff;
    background-color: #1DA1F2;

    outline: none;
    overflow: hidden;

    position: relative;
    cursor: pointer;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-attractive span {
    position: relative;
    pointer-events: none;
}

.btn-attractive::before {
    --size: 0;
    content: '';
    position: absolute;
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);

    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);

    transition: width .2s ease, height .2s ease;
}

.btn-attractive:hover::before {
    --size: 200px;
}

.btn-learn {
    padding: 8px 40px;
    transition: all 0.2s linear 0s;
}

.btn-learn:before {
    content: '➜';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}

.btn-learn:hover {
    text-indent: -20px;
}

.btn-learn:hover::before {
    opacity: 1;
    text-indent: 0px;
}

/*  header   */
.header {
    padding-bottom: 65px;
    color: #fff;
    background-image: url(./../img/header/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 104px 100px 84px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
}

.logo {}

.logo img {
    width: 142px;
    height: 700px;
}

.logo span {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.292683px;

    color: #fff;
}

.menu__list {
    display: flex;
    column-gap: 25px;
}

.menu__item {
    position: relative;
}

.menu__item:hover {
    text-shadow:
        0 0 10px #fff,
        0 0 13px #fff,
        0 0 24px #fff,
        0 0 45px rgb(0, 174, 255),
        0 0 85px rgb(0, 174, 255),
        0 0 95px rgb(0, 174, 255),
        0 0 101px rgb(0, 174, 255),
        0 0 154px rgb(0, 174, 255);
}

.menu__link {
    color: #fff;
}

/*   header bottom   */
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    max-width: 556px;
}

.header__title {
    margin-bottom: 62px;

    font-weight: 700;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: -1px;


    text-shadow: 4px 4px 0px rgba(46, 233, 247, 0.3);
}

.header__descr {
    margin-bottom: 68px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;

    text-shadow: 0px 15px 5px rgba(0, 12, 117, 0.1),
        10px 20px 5px rgba(0, 12, 117, 0.05),
        -10px 20px 5px rgba(0, 12, 117, 0.05);
}




/*   form  signup-form  */
.signup-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    padding: 11px 70px 43px;
    border-radius: 10px;
    background-color: #fff;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;

    /* Colors / Text */
    color: var(--text-dark);
}

.signup-form p {
    position: relative;
    display: block;
    width: 100%;
    padding: 18px 0;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    /* Colors / Text */
    color: var(--text-grey);

    opacity: 0.9;
}

.signup-form p::before,
.signup-form p::after {
    content: '';
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 50%;
    width: 141.57px;
    height: 2px;
    background-color: #EBEAED;
}

.signup-form p::before {
    left: 0;
}

.signup-form p::after {
    right: 0;
}

.signup-form__title {
    margin-bottom: 21px;

    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.4px;
    color: var(--text-dark);

    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.signup-form__input {
    padding: 12px 0 12px 24px;
    width: 330px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid rgba(21, 20, 57, 0.4);

    color: #000;
}

.signup-form__input::placeholder {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: var(--text-grey);
}

.signup-form__input:not(:last-child) {
    margin-bottom: 16px;
}

.signup-form__input:focus {
    box-shadow: 0 0 7px rgb(176, 176, 236);
}

.signup-form__btn {
    width: 330px;
    height: 50px;
}

.signup-form__btn--top {
    background: #18C967;
    border: 2px solid #18C967;

}

.signup-form__btn--top:hover {
    background: #fff;
    color: #18C967;
    border: 2px solid #18C967;

    position: relative;
    top: 2px;
}

.signup-form__btn--bottom {
    background: #1DA1F2;
}

.signup-form__btn--bottom:hover {
    background: #fff;
    color: #1DA1F2;
    border: 2px solid #1DA1F2;

    position: relative;
    top: 2px;
}


/*  link-building   */

.link-building {
    padding: 100px 0 54px;
}

.link-building__row {
    display: flex;
    align-items: center;

    position: relative;
}

.link-building__content {
    max-width: 774px;
}

.link-building__title {
    margin-bottom: 76px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 112%;
    letter-spacing: -1px;

    color: var(--text-dark);
}

.link-building__descr {
    margin-bottom: 74px;
    max-width: 623px;

    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    /* Colors / Text */
    color: var(--text-grey);
    opacity: 0.7;
}

.link-building__descr p+p {
    margin-top: 30px;
}

.link-building img {
    position: absolute;
    right: 0;
    top: 52px;
    max-width: unset;
    width: 525px;
    height: 492px;
}


/*    prices   */
.prices {
    padding: 58px 0;
    background-color: var(--background-color);
}

.prices__content {
    display: flex;
    flex-direction: column;
}

.prices__title {
    margin-bottom: 16px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.2857rem;
    /*32px*/
    line-height: 39px;
    color: var(--text-dark);
    opacity: 0.96;

    text-align: center;
}

.prices__descr {
    margin-bottom: 40px;

    font-family: 'Inter';
    font-size: 1.142rem;
    /*16px*/
    line-height: 118%;
    color: var(--text-dark);
    opacity: 0.68;

    text-align: center;
    align-self: center;
    max-width: 600px;
}

.prices__row {
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: center;
    column-gap: 70px;
}

.prices__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 364.25px;
    height: 790px;
}

.prices-card {
    padding: 43px 44px 10px;

    box-shadow: 0px 10px 82px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    background-color: #fff;
}

.prices-card:hover {
    box-shadow: 0px 4px 82px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 1px;
}

.prices-card__title {
    margin-bottom: 14.5px;

    font-weight: 600;
    font-size: 1.71rem;
    /*24px*/
    line-height: 115%;
    letter-spacing: 0.01em;
    color: #fff;

    background: #1DA1F2;
    border-radius: 5.53903px;
    display: inline-block;
    padding: 5.5px 14px;
}

.prices-card__descr {
    margin-bottom: 28px;

    font-weight: 300;
    font-size: 0.9rem;
    /*14.7708px*/
    line-height: 157%;

    color: #000;
}

.prices-card__price {
    align-self: flex-start;
    text-align: left;
    padding-top: 28px;
    font-weight: 600;
    font-size: 4.714rem;
    /*66px*/
    line-height: 110%;
    letter-spacing: -0.461586px;
    color: #000;
}

.prices-card__price span {
    padding-bottom: 28px;
    display: block;

    font-weight: 600;
    font-size: 0.9rem;
    /*14.7708px*/
    line-height: 162%;
    color: rgb(0, 0, 0, 0.8);
}

.prices-card__list {
    width: 100%;
    text-align: left;
    margin-bottom: 37px;
    font-size: 0.9rem;
    /*14.7708px*/
    line-height: 24px;
    /* identical to box height, or 162% */
    color: #000000;
}

.prices-card__conditions {
    position: relative;
    padding-left: 27px;
    display: block;
}

.prices-card__conditions::before,
.condition-mark::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';

    background-repeat: no-repeat;
}

.prices-card__conditions::before {
    background-image: url(./../img/icons/check-mark.png);
}

.prices-card__conditions--red-mark::before {
    background-image: url(./../img/icons/red-mark.png);
}

.prices-card__conditions:not(:last-child) {
    margin-bottom: 14px;
}

.prices-card__btn {
    margin-bottom: 5.5px;
    height: 36.93px;
    width: 100%;
    text-align: center;
    padding: 7px 0;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.9rem;
    /*14.7708px*/
    line-height: 150%;
    color: #FFFFFF;
    background: #1DA1F2;
    border: 2px solid #1DA1F2;
}

.prices-card__btn:hover {
    color: #1DA1F2;
    background: #fff;
}

.prices-card__slog {
    font-size: 0.8rem;
    /*12.9244px*/
    line-height: 186%;
}

.mark {
    display: block;
    padding: 4px 30px;
    margin-bottom: 34px;
    background: #FFD600;
    border-radius: 0px 0px 10px 10px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.9rem;
    /*14.7708px*/
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}


#prices-card--pop {
    height: 813px;
    padding: 0 44px 10px;

    background: #1DA1F2;
    color: #fff;
}

#prices-card--pop .prices-card__title {
    background: #f1f1f1;
    color: #160f0f;
}

#prices-card--pop .prices-card__price span {
    color: rgba(255, 255, 255, 0.8);
}

#prices-card--pop .prices-card__list,
#prices-card--pop .prices-card__price,
#prices-card--pop .prices-card__descr {
    color: #fff;
}

#prices-card--pop .prices-card__btn {
    color: #000;
    background: #fff;
    border-radius: 21px;
    border: 2px solid #fff;
}

#prices-card--pop .prices-card__btn:hover {
    color: #fff;
    background: #000;
    border: 2px solid #000;
}

#prices-card--pop .prices-card__conditions::before {
    background-image: url(./../img/icons/white-mark.png);
}



/*   footer   */

.footer {
    padding: 24px 0;
    background: #1DA1F2;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.socials li:hover path {
    fill: var(--text-dark);
}

.footer p {
    color: #fff;
}

.footer span {
    color: red;
    font-size: 1.5em;
}