@media (max-width: 1176px) {
    .header__bottom {
        flex-direction: column;
        row-gap: 50px;
    }

    .signup-form {
        max-width: 100%;
        height: auto;
    }

    .link-building__row {
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .link-building img {
        position: static;
        max-width: 100%;
        height: auto;
    }

    .prices__wrapper {
        width: 100%;
        height: 100%;

        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prices__row {
        min-width: 100%;
        min-height: 100px;
        overflow-x: auto;
    }
}

@media (max-width: 970px) {
    .header__top {
        padding: 54px 0;
    }

    .header__content {
        max-width: 672px;
    }
}

@media (max-width: 768px) {
    .header__top {
        flex-direction: column;
        row-gap: 30px;
    }

    .link-building__descr {
        max-width: 100%;
    }
}


@media (max-width: 520px) {
    .header__title {
        margin-bottom: 38px;
        font-size: 46px;
    }

    .header__descr {
        margin-bottom: 43px
    }

    .signup-form {
        padding: 11px 28px 43px;
    }

    .signup-form__btn,
    .signup-form__input {
        width: 280px;
        height: 50px;
    }

    .signup-form p::before,
    .signup-form p::after {
        width: 113.57px;
    }

    .prices__row {
        flex-direction: column;
        row-gap: 30px;
        overflow: hidden;
    }

    .prices__item {
        max-width: 100%;
        max-width: 100%;
        min-width: auto;
        height: auto;
    }

    #prices-card--pop,
    .prices-card {
        padding-left: 60px;
        padding-right: 30px;
    }

}

@media (max-width: 430px) {
    .btn {
        padding: 8px 60px;
    }

    .header__top {
        align-items: flex-start;
    }

    .menu__list {
        flex-direction: column;
        row-gap: 25px;

        font-size: 1.5em;
    }

    .signup-form__title {
        font-size: 30px;
    }

    #prices-card--pop,
    .prices-card {
        padding-left: 30px;
    }

    .footer__row {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 360px) {
    .signup-form__title {
        font-size: 25px;
    }

    .signup-form__btn,
    .signup-form__input {
        width: 280px;
        height: 50px;
    }
}

@media (max-width: 340px) {

    .signup-form__btn,
    .signup-form__input {
        width: 250px;
        height: 50px;
    }

    .signup-form p::before,
    .signup-form p::after {
        width: 100.57px;
    }
}